.login_paper_left {
    width: 100%;
    height: 90%;
    margin-top: 8%;
    margin-left: 15%;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
}

.login_paper_left-text {
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    height: 85%;
}

.login_paper_left_message01 {
    font-size: 55px;
    font-weight: bold;
    /* color: white; */
}

.login_paper_left_message02 {
    font-size: 20px;
    opacity: 0.8;
    /* color: white; */
}

.follow-us {
    margin-top: 5%;
    width: 80%;
    height: 15%;
    /* color: white; */
}

.follow-us-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.login_paper_left_message03 {
    font-size: 20px;
    font-weight: bold;
    /* color: white; */
}

.logo {
    background-image: url(../../assets/images/logo.png);
    background-repeat: no-repeat;
    background-position: center;
    width: 20vh;
    height: 20vh;
    background-size: cover;
}

.social-btn-label {
    opacity: 0.6;
}

.login-ins {
    background-image: url(../../assets/images/instagram.png);
    background-repeat: no-repeat;
    background-position: center;
    width: 5vh;
    height: 5vh;
    background-size: cover;
}