.forgot_password_root {
    height: 100vh,
}

.forgot_password_image {
    background-image: url(../../assets/images/register.jpg);
    background-repeat: no-repeat;
    background-position: center;
    min-height: 100vh;
    background-size: cover;
}

.forgot_password_from_title {
    font-size: 4vh;
    font-weight: bold;
    margin-top: 5%;
}

.forgot_password_paper {
    display: 'flex';
    flex-direction: 'column';
    align-items: center;
    justify-content: center;
}

.forgot_password_card {
    padding: 4%;
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 10%;
}

.forgot_password_form_root {
    padding: 2%;
    margin-top: 5%;
    margin-bottom: 5%;
}

.forgot_password_user_message {
    font-size: larger;
    font-weight: 400;
}

.error_div {
    margin-bottom: 2%;
}

.error {
    color: red;
}