.forgot_password_image {
    background-image: url(../../assets/images/register10.jpg);
    background-repeat: no-repeat;
    background-position: center;
    min-height: 100vh;
    background-size: cover;
    width: 100%;
}

.forgot_password_from_title {
    font-size: 4vh;
    font-weight: bold;
    margin-top: 5%;
}

.forgot_password_paper {
    width: 65%;
    height: 90%;
    margin-top: 5%;
    margin-left: 25%;
    align-items: center;
    justify-content: center;
}

.forgot_password_card {
    align-items: center;
    justify-content: center;
    padding: 5%;
}

.forgot_password_form_root {
    margin-top: 15%;
}

.forgot_password_form_root-mobile {
    margin-top: 15%;
}

.forgot_password_user_message {
    font-size: larger;
    font-weight: 400;
    margin-top: 5%;
}

.error_div {
    margin-bottom: 2%;
}

.error {
    color: red;
}