.landing_root_div {
    height: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}

.landing_content {
    width: 100%;
    height: 400vh
}

@media(max-width: 574px) {
    .landing_content {
        width: 100%;
        height: 550vh
    }
}

.landing_content_top_left {
    display: flex;
    flex-direction: column;
    padding-top: 8%;
    margin-left: 50%;
}

@media(max-width: 574px) {
    .landing_content_top_left {
        display: flex;
        flex-direction: column;
        padding-top: 10%;
        margin-left: 0;
    }
}

.header_content_01 {
    font-size: 8vh;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    text-align: right;
    margin-right: 4%;
}

.header_content_02 {
    font-size: 2.1vh;
    text-align: left;
    margin: 4% 2% 4% 0;
    font-weight: bold;
}

.header_section_btn {
    display: flex;
    flex-direction: column;
    margin-top: 2%;
    padding: 2%;
    margin-bottom: 3%;
    width: 40%;
    align-self: flex-end;
    margin-right: 2%;
}

.landing_content_bottom {
    width: 96%;
    margin-left: 2%;
    margin-bottom: 2%;
}

h1 {
	font-weight: bold;
    font-family: 'Raleway', sans-serif;
    position: relative;
    margin-bottom: 3%;
}

h1::before {
    content: '';
    position: absolute;
    bottom: -10px;
    background-color: #EB984E;
    height: 3px;
    box-sizing: border-box;
    width: 100px;
}


.details {
    margin-bottom: 80px;
    padding: 1%;
}

.detail_cards {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 2%;
    background-color: #f8f9fa;
}

.details_card {
    width: 30%;
    margin-left: 2.5%;
}

@media(max-width: 574px) {
    .detail_cards {
        display: flex;
        flex-direction: column;
        padding: 2%;
    }

    .details_card {
        width: 90%;
        margin-left: 2.5%;
        margin-top: 1%;
    }
}

.container{
	overflow: hidden;
    padding: 1%;
}

.features{
	margin-bottom: 80px;
    align-items: center;
}


.features-title{
	margin-bottom: 70px;
	text-align: center;
}

.dark-stroke{
	border-bottom: 2px solid #6b6868;
	width: 80px;
	margin-top: 12px;
	margin-bottom: 18px;
}

.features-left{
	text-align: right;
	margin-top: 40px;
}

.features-right{
	text-align: left;
	margin-top: 40px;
}

.features-left h4, .features-left p{
	padding-right: 60px;
}

.features-left div:hover h4, .features-right div:hover h4{
	color: #e91e63;
    cursor: pointer;
}

.features-right h4, .features-right p{
	padding-left: 60px;
}

.features-left div, .features-right div{
	margin-bottom: 36px;
}

.features-list img{
	transform:translate(0px, 66px);
}

.features-list h4{
	text-transform: uppercase;
    font-size: 1.1rem;
}

.appmockup{
	position: relative;
	text-align: center;
}

@media(max-width: 574px) {
    .appmockup{
        display: none;
    }
}

.content_paper {
    display: flex;
    flex-direction: row;
    margin-bottom: 4%;
    width: 100%;
    margin-top: 5%;;
}

.content_paper_left {
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.content_description {
    padding: 5%;
    text-align: justify;
}

.learn_more_container {
    width: 100%;
    align-items: flex-end;
    justify-content: flex-end;
    display: flex;
}

.learn_more {
    margin-right: 5%;
    font-weight: bold;
}

.learn_more:hover {
    cursor: pointer;
    color: #e91e63;
}

.content_header {
    font-size: 5vh;
    font-weight: bold;
    color: rgb(80, 79, 79);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.course_grid_container {
    padding: 1%;
    margin-bottom: 2%;
}


/* ................... */

.content_top_root {
    position: relative;
    z-index: 0;
    background-image: url("../../assets/images/landing page/background4.jpg");
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    padding: 4em 0;
    position: relative;
    width: 100%;
    display: block;
    height: 85vh;
}

.content_top__container {
    width: 100%;
    padding-right: var(--bs-gutter-x, 0.75rem);
    padding-left: var(--bs-gutter-x, 0.75rem);
    margin-right: auto;
    margin-left: auto;
    color: white;
}

@media (min-width: 992px) {
    .col-lg__1 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        width: 41.66667%;
    }
}

.pt-5 {
    padding-top: 15rem !important;
}

.content_top_block {
   text-align: left;
   align-self: center;
   right: 0;
   padding-top: 12rem !important;
   margin-left: 3%;
}

.landing_content__main_conatiner {
    display: flex;
    margin-top: 2%;
    flex-direction: column;
}

.section_count {
    margin-bottom: 2%;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 0;
    background-image: url("../../assets/images/landing page/background2.jpg");
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    padding: 4em 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    min-height: 20rem;
    padding-left: 8%;
}

.landing_content_section_features {
    margin-bottom: 4%;
    margin-top: 2%;
}

.landing_section_features__1 {
    padding: 5%;
}

.student_feedback_root {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 2%;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 0;
    background-image: url("../../assets/images/landing page/background2.jpg");
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    padding: 4em 0;
    width: 100%;
}

.student_feedback__top {
    align-items: center;
    justify-content: center;
}

.student_feedback__top_block {
    color: white;
}

.student_feedback__top_block h1 {
    font-size: 2.7rem;
    font-weight: 600;
}

.student_feedback__top_block p {
    width: 60%;
    margin-left: 20%;
}

.student_feedback_card {
    display: block;
    position: relative;
    background: rgba(255, 255, 255, 0.1);
    color: rgba(0, 0, 0, 0.8);
    padding: 3%;
}

.feedback_user_image {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    position: relative;
}

.feedback_text_block {
    width: calc(100% - 120px);
    position: relative;
    margin-left: 0.5rem !important;
    text-align: left;
    color: white;
}

.feedback_text_block span {
    font-size: 1.5rem;
    font-weight: bold;
}

.landing_subscribe_newsletter {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 0;
    background-image: url("../../assets/images/landing page/background2.jpg");
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    padding: 4em 0;
    text-align: left;
    color: white;
    min-height: 15rem;
}

.card_offer {
    box-shadow: rgb(145 158 171 / 24%) 0px 0px 2px 0px, rgb(145 158 171 / 24%) 0px 16px 32px -4px;
    border-radius: 16px;
    padding: 2%;
    background-color: rgb(255, 255, 255);
}