.card_body_contents {
    text-align: left;
    font-size: medium;
}

.card_footer {
    display: flex;
    justify-content: space-between;
}

.course_card_body {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
}

.course_card_body_column {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    font-size: large;
}

.card_title {
    font-size: 1.5rem;
}

.card_sub_content {
    font-size: 1.0rem;
    color: #808080;
}

@media(max-width: 700px) {
    .course_card_body img {
        width: 40px;
        height: 40px;
    }

    .course_card_body {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
    }

    .card_title {
        font-size: 1.2rem;
    }
    
    .card_sub_content {
        font-size: 0.8rem;
        color: #808080;
    }
}

.course_enrolled_item {
    -webkit-box-shadow: 0 2px 10px 0 rgb(0 0 0 / 10%);
    box-shadow: 0 2px 10px 0 rgb(0 0 0 / 10%);
}

.course_thumnail {
    position: relative;
    margin: 0 0 1rem;
    display: block;
}

.course_thumnail_img {
    max-width: 100%;
    height: auto;
    vertical-align: middle;
    border-style: none;
}

.course_author {
    position: absolute;
    right: 0;
    -webkit-transform: translatey(-100%);
    -ms-transform: translatey(-100%);
    transform: translatey(-100%);
    padding: 10px 20px;
    background: #183661;
    color: #fff;
}

.course_enrolled_content {
    width: 100%;
    position: relative;
    border-top: none;
    padding: 1.5rem !important;
    font-family: "Poppins", Arial, sans-serif;
    font-size: 15px;
    margin-bottom: 25px;
    line-height: 1.5;
    text-align: left;
}

.course_meta {
    font-size: 0.62rem;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 600;
    display: -webkit-box !important;
    display: flex !important;
    margin-bottom: 4%;
    color: #a6a6a6;
    justify-content: space-between;
}

.course_enrolled_content h5 {
    display: block;
    font-size: 1.17em;
    text-transform: uppercase;
    font-weight: 600;
    margin-top: 10px;
}

.course_enrolled_content p {
    font-size: 14px;
    color: #838383;
    line-height: 2.1;
    margin-bottom: 1rem;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.course_enrolled_rating {
    float: right;
    text-align: right;
}

.course_price {
    position: absolute;
    -webkit-transform: translatey(-100%);
    -ms-transform: translatey(-100%);
    transform: translatey(-100%);
    padding: 10px 20px;
    background: #2c333a;
    color: #fff;
    clip-path: polygon(100% 0%, 85% 49%, 100% 100%, 0 100%, 0 0);
}

.online_course_footer {
    -webkit-box-pack: justify !important;
    justify-content: space-between !important;
    display: flex !important;
}