.sign_in_root {
    display: flex;
    height: 100vh;
}

.sign_in_left {
    background-image: url('../../assets/images/landing page/theme.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.sign_in_right {
    padding: 3%;
}

.not_member {
    font-size: large;
}

.signIn_from_title {
    font-size: 4vh;
    font-weight: bold;
    margin-top: 5%;
}

.fa-eye-slash {
    width: 15px;
}

.fa-eye {
    width: 15px;
}

.login_paper {
    width: 65%;
    height: 90%;
    margin-top: 5%;
    margin-left: 25%;
    align-items: center;
    justify-content: center;
}

.login_paper-mobile {
    width: 90%;
    height: 90%;
    margin-top: 5%;
    margin-left: 5%;
    align-items: center;
    justify-content: center;
}

.login_card {
    align-items: center;
    justify-content: center;
    padding: 5%;
}

.login_card-mobile {
    align-items: center;
    justify-content: center;
    padding: 5%;
}

.login_form {
    margin-top: 20%;
}

.login_form-mobile {
   margin-top: 5%;
}