.trusted_tutors_root {
    width: 100%;
    height: 100%;
    overflow-y: auto;
    flex: 1 1;
}

.trusted_tutors_top {
    width: 100%;
    align-items: center;
    justify-content: flex-start;
    text-align: left;
    margin-bottom: 25px;
    display: flex;
    flex-direction: row;
}

.trusted_tutors_top div {
    display: flex;
    flex-direction: column;
    margin-left: 1%;
}

.trusted_tutors_top_title1 {
    font-size: 1.7rem;
    font-weight: 600;
}

.trusted_tutors_top_title2 {
    color: #808080;
    font-size: 0.8rem;
}

.trusted_tutors_category {
    align-items: center;
    justify-content: flex-start;
    text-align: left;
    margin-top: 1%;
}

.trusted_tutors_category_title_container {
    display: flex;
    justify-content: space-between;
    padding: 2%;
}

.trusted_tutors_category_title {
    color: #808080;
    font-size: 1.3rem;
    padding: 2%;
}

span {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.trusted_tutors_category_container {
    background-color: rgb(255, 255, 255);
    color: rgb(33, 43, 54);
    transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    overflow: hidden;
    box-shadow: rgb(145 158 171 / 24%) 0px 0px 2px 0px, rgb(145 158 171 / 24%) 0px 16px 32px -4px;
    border-radius: 16px;
    position: relative;
    z-index: 0;
    padding: 2%;
    margin: 3% 1% 2% 1%;
}

.trusted_tutors_list_root {
    margin: 3%;
}

.trusted_tutors_list_head {
    display: flex;
    justify-content: space-between;
}

.header_category {
    display: flex;
    align-items: center;
    margin-bottom: 25px;
}

.header_category span {
    font-weight: 600;
    font-size: 1rem;
    text-transform: uppercase;
    padding: 1px 15px;
}

.category_icon_small {
    border: 2px solid #f8f8f8;
    box-sizing: border-box;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 5px;
}

.more_category span:first-child {
    margin-right: 2%;
}

.more_category span:first-child::before {
    content: '';
    position: absolute;
    background-color: #e91e63;
    height: 2px;
    box-sizing: border-box;
    width: 20px;
}

.more_category {
    width: 100%;
    align-items: flex-end;
    justify-content: flex-end;
    display: flex;
    padding-right: 3%;
    margin-bottom: 2%;
}

.more_category span {
    font-size: 1.1rem;
    color: #808080;
    text-transform: uppercase;
}

.more_category span::before {
    content: '';
    position: absolute;
    background-color: #e91e63;
    height: 2px;
    box-sizing: border-box;
    width: 50px;
}

.more_category span:hover {
    cursor: pointer;
    color: black;
}

.tutor_category_icon_wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tutor_category_icon_wrapper span {
    font-size: 0.9rem;
    color: #808080;
}

.tutor_category_icon {
    border: 2px solid #d8d7d7;
    box-sizing: border-box;
    /* border-radius: 50%; */
    width: 160px;
    height: 110px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 5px;
}

.tutor_category_icon_wrapper:hover {
    cursor: pointer;
    border-color: #f9a83e;
}

.tutor_category_icon_src {
    height: 100px;
    width: 150px;
    /* border-radius: 50%; */
}

.tutor_selected_category_icon {
    border-color: #f9a83e;
}

.carousel_arrow {
    width: 30px;
}