.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0;
    transition: .3s ease;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.3); 
    border-radius: 50%;
    color: white;
    align-items: center;
    justify-content: center;
    display: flex;
    width: 100px;
    height: 100px;
}

.edit_card_body {
    background-color: white;
    color: black;
    text-align: left;
}

.edit_card_body_form {
    margin-top: 3%;
}

.edit_form {
    display: flex;
    flex-direction: column;
    font-weight: bold;
}

.input_container {
    display: flex;
    flex-direction: column;
}

.edit_card_body p {
    margin: 0px 0px 16px;
    font-family: "Be Vietnam", sans-serif;
    font-weight: 700;
    font-size: 0.75rem;
    line-height: 1.5;
    text-transform: uppercase;
    letter-spacing: 1.2px;
    color: rgb(99, 115, 129);
    margin-top: 4%;
}

::-webkit-input-placeholder {
    font-size: 15px;
 }
 
 :-moz-placeholder { 
       font-size: 15px;
 }
 
 ::-moz-placeholder { 
       font-size: 15px;
 }
 
 :-ms-input-placeholder {
       font-size: 15px;
 }

 .profile_root_alt {
     padding: 3%;
 }

.profile_header_container {
    background-color: rgb(255, 255, 255);
    color: rgb(33, 43, 54);
    transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    overflow: hidden;
    box-shadow: rgb(145 158 171 / 24%) 0px 0px 2px 0px, rgb(145 158 171 / 24%) 0px 16px 32px -4px;
    border-radius: 16px;
    z-index: 0;
    margin-bottom: 24px;
    height: 280px;
    position: relative;
    background-image: url(../../assets/images/Profile/headerImg.jpg);
    background-position: center;
    background-size: cover;
}

.container_top {
    left: 0;
    z-index: 99;
    position: absolute;
    margin-top: 40px;
    margin-left: 2%;
}


.profile_avatar_alt {
    font-weight: 600;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    width: 100px;
    height: 100px;
    font-family: "Be Vietnam", sans-serif;
    font-size: 1.25rem;
    line-height: 1;
    border-radius: 50%;
    overflow: hidden;
    user-select: none;
    margin-left: auto;
    margin-right: auto;
    border-width: 2px;
    border-style: solid;
    border-color: rgb(255, 255, 255);
}

.profile_avatar_alt :hover{
    opacity: 1;
    cursor: pointer;
}

.profile_avatar_img {
    width: 100%;
    height: 100%;
    text-align: center;
    object-fit: cover;
    color: transparent;
    text-indent: 10000px;
    display: block;
    max-width: 100%;
}

.profile_section_info {
    color: rgb(255, 255, 255);
}

.profile_section_info h4 {
    margin: 0px;
    font-family: "Be Vietnam", sans-serif;
    font-weight: 600;
    font-size: 1.25rem;
    line-height: 1.5;
    display: block;
}

.profile_section_info p {
    margin: 0px;
    font-family: "Be Vietnam", sans-serif;
    font-weight: 500;
    font-size: 1rem;
    line-height: 1.5;
    opacity: 0.72;
}

.container_bottom {
    width: 100%;
    bottom: 0;
    display: flex;
    z-index: 9;
    position: absolute;
    background-color: #fff;
}

.multitab_root {
    display: flex;
    min-height: 48px;
    width: 100%;
    justify-content: flex-end;
}

.multi_btn_base {
    display: flex;
    padding: 2%;
    align-items: center;
    color: rgb(145, 143, 143);
    transition: all 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    bottom: 0;
    justify-content: center;
}

.multitab_wrapper {
    margin-right: 5%;
    font-size: 0.9rem;
}

.multitab_active {
    color: #21618C;
    font-weight: 550;
}

.multitab_wrapper:hover {
    color: #21618C;
    cursor: pointer;
}

.multi_btn_base_active {
    color: #21618C;
    font-weight: 550;
}

.multi_btn_base:last-child {
    margin-right: 3%;
}

.profile_main_container {
    display: flex;
}

.main_info_container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.info_statistics {
    margin-bottom: 24px;
    background-color: rgb(255, 255, 255);
    color: rgb(33, 43, 54);
    transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    overflow: hidden;
    box-shadow: rgb(145 158 171 / 24%) 0px 0px 2px 0px, rgb(145 158 171 / 24%) 0px 16px 32px -4px;
    border-radius: 16px;
    position: relative;
    z-index: 0;
    padding: 24px;
}

.info_statistics_block {
    display: flex;
}

.profile_stat {
    width: 50%;
    text-align: center;
    margin-inline: 1%;
}

.profile_stat h4 {
    margin: 0px;
    font-family: "Be Vietnam", sans-serif;
    font-weight: 600;
    font-size: 1.5rem;
}

.profile_stat p {
    margin: 0px;
    font-family: "Be Vietnam", sans-serif;
    font-weight: 500;
    font-size: 0.875rem;
    line-height: 1.57143;
    color: rgb(99, 115, 129);
    box-sizing: border-box;
}

.info_statistics_block hr {
    margin: 0px;
    flex-shrink: 0;
    border-width: 1px thin 0px 0px;
    border-style: solid;
    border-color: rgba(13, 114, 216, 0.24);
    height: auto;
    align-self: stretch;
}

.profile_about {
    margin-bottom: 24px;
    background-color: rgb(255, 255, 255);
    color: rgb(33, 43, 54);
    transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    overflow: hidden;
    box-shadow: rgb(145 158 171 / 24%) 0px 0px 2px 0px, rgb(145 158 171 / 24%) 0px 16px 32px -4px;
    border-radius: 16px;
    position: relative;
    z-index: 0;
    text-align: left;
}

.profile_about_head {
    flex: 1 1 auto;
    display: flex;
    align-items: center;
    padding: 24px 24px 0px;
}

.profile_about_head span {
    margin: 0px;
    font-family: "Be Vietnam", sans-serif;
    font-weight: 600;
    font-size: 1.0625rem;
    line-height: 1.55556;
    display: block;
    font-family: "Be Vietnam", sans-serif;
}

.profile_about_info {
    padding: 24px;
}

.about_general_info {
    display: flex;
    color: rgb(97, 102, 107);
}

.about_general_info span {
    margin: 0px;
    font-family: "Be Vietnam", sans-serif;
    font-size: 0.875rem;
    line-height: 1.57143;
    margin-left: 4%;
}

.profile_about_info p {
    color: rgb(97, 102, 107);
}

.about_general_info:not(:first-child) {
    margin-top: 16px;
}

.tab_content_container {
    margin-bottom: 24px;
    background-color: rgb(255, 255, 255);
    color: rgb(33, 43, 54);
    transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    overflow: hidden;
    box-shadow: rgb(145 158 171 / 24%) 0px 0px 2px 0px, rgb(145 158 171 / 24%) 0px 16px 32px -4px;
    border-radius: 16px;
    position: relative;
    z-index: 0;
    text-align: left;
}

.notifications_Container {
    display: flex;
    flex-flow: column wrap;
    padding: 2%;
}

.notifications_Container p{
    margin: 0px 0px 16px;
    font-family: "Be Vietnam", sans-serif;
    font-weight: 700;
    font-size: 0.75rem;
    line-height: 1.5;
    text-transform: uppercase;
    letter-spacing: 1.2px;
    color: rgb(99, 115, 129);
    margin-top: 4%;
}

.save__changes {
    display: flex;
    justify-content: flex-end;
}