.header_root {
    display: flex;
    flex-direction: column;
    margin-top: 10%;
    position: absolute;
}

.header_section_01 {
    display: flex;
    flex-direction: column;
}

.header_welcome_01 {
    font-size: 5vh;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
}

.header_welcome_02 {
    font-size: 2vh;
}

.header_section_02 {
    display: flex;
    flex-direction: column;
    margin-top: 5%;
    padding: 3%;
}