.blog_root_div {
    padding: 2%;
    background-color: white;
}

.blog_root_header {
    margin-bottom: 20px;
}

.header_content {
    display: flex;
    align-items: center;
    text-align: left;
}

.header_content_left {
    flex-grow: 1;
}

.css-1ey68ak-MuiTypography-root  {
    margin: 0px 0px 8px;
    font-family: "Be Vietnam", sans-serif;
    font-weight: 600;
    font-size: 1.25rem;
    line-height: 1.5;
}

.css-1h2cv8e-MuiTypography-root-MuiBreadcrumbs-root {
    margin: 0px;
    font-family: "Be Vietnam", sans-serif;
    font-weight: 500;
    font-size: 1rem;
    line-height: 1.5;
    color: rgb(99, 115, 129);
}

.css-4pdmu4-MuiBreadcrumbs-ol {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 0px;
    margin: 0px;
    list-style: none;
}

.css-4pdmu4-MuiBreadcrumbs-ol li {
    font-size: 0.8rem;
}

.css-1h2cv8e-MuiTypography-root-MuiBreadcrumbs-root .MuiBreadcrumbs-separator {
    margin-left: 16px;
    margin-right: 16px;
}

.css-1wuw8dw-MuiBreadcrumbs-separator {
    display: flex;
    user-select: none;
    margin-left: 8px;
    margin-right: 8px;
}

.seperator_dot {
    width: 4px;
    height: 4px;
    border-radius: 50%;
    background-color: rgb(145, 158, 171);
}

.header_content_right {
    flex-shrink: 0;
}

.blog_search_block {
    margin-bottom: 30px;
    display: flex;
    align-items: center;
}

.blogs_container {
    margin-top: 1%;
}

.css-4pdmu4-MuiBreadcrumbs-ol li:not(:last-child) {
    font-weight: 550;
}

.create_new_block_container_root {
    background-color: rgb(255, 255, 255);
    color: rgb(33, 43, 54);
    transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    overflow: hidden;
    box-shadow: rgb(145 158 171 / 24%) 0px 0px 2px 0px, rgb(145 158 171 / 24%) 0px 16px 32px -4px;
    border-radius: 16px;
    position: relative;
    z-index: 0;
    padding: 3%;
}

.new_blog_content {
    margin-top: 3%;
    text-align: left;
}

.new_blog_content_h6 {
    margin: 0px 0px 8px;
    font-family: "Be Vietnam", sans-serif;
    font-weight: 600;
    font-size: 0.875rem;
    line-height: 1.57143;
    color: rgb(99, 115, 129);
}

.content_conainer {
    border: solid 1px rgba(145, 158, 171, 0.32);
    border-radius: 8px;
}

.vertical_seperator {
    height: 20px;
}

.blog_cover_root {
    text-align: left;
    margin-bottom: 2%;
}

.blog_cover {
    border: 1px dashed rgba(145, 158, 171, 0.32);
    display: flex;
    outline: none;
    padding: 35px 0px;
    overflow: hidden;
    position: relative;
    text-align: center;
    transition: padding 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    align-items: center;
    border-radius: 8px;
    flex-direction: column;
    justify-content: center;
    background-color: #F4F6F8;
    flex-direction: row;
}

.upload_img_src {
    height: 130px;
    display: block;
    max-width: 100%;
    cursor: pointer;
}

.blog_cover_text h5 {
    margin: 0px 0px 8px;
    font-family: "Be Vietnam", sans-serif;
    font-weight: 600;
    font-size: 1.125rem;
    line-height: 1.5;
    text-align: left;
    margin-left: 1%;
}

.blog_cover_text p {
    margin: 0px;
    font-family: "Be Vietnam", sans-serif;
    font-weight: 500;
    font-size: 0.875rem;
    line-height: 1.57143;
    color: rgb(99, 115, 129);
    text-align: left;
    margin-left: 1%;
}

.button_footer {
    display: flex;
    justify-content: flex-end;
    margin-top: 2%;
}

.ql-editor {
    box-sizing: border-box;
    line-height: 1.42;
    height: 100%;
    outline: none;
    overflow-y: auto;
    padding: 12px 15px;
    tab-size: 4;
    -moz-tab-size: 4;
    text-align: left;
    white-space: pre-wrap;
    word-wrap: break-word;
    min-height: 200px;
}

.img_remover {
    margin-left: 15px;
    cursor: pointer;
}

.pagination_div {
    display: flex;
    justify-content: flex-end;
}