.blog_root_div {
    padding: 2%;
    background-color: white;
}

.blog_root_header {
    margin-bottom: 20px;
}

.header_content {
    display: flex;
    align-items: center;
    text-align: left;
}

.header_content_left {
    flex-grow: 1;
}

.css-1ey68ak-MuiTypography-root  {
    margin: 0px 0px 8px;
    font-family: "Be Vietnam", sans-serif;
    font-weight: 600;
    font-size: 1.25rem;
    line-height: 1.5;
}

.css-1h2cv8e-MuiTypography-root-MuiBreadcrumbs-root {
    margin: 0px;
    font-family: "Be Vietnam", sans-serif;
    font-weight: 500;
    font-size: 1rem;
    line-height: 1.5;
    color: rgb(99, 115, 129);
}

.css-4pdmu4-MuiBreadcrumbs-ol {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 0px;
    margin: 0px;
    list-style: none;
}

.css-4pdmu4-MuiBreadcrumbs-ol li {
    font-size: 0.8rem;
}

.css-1h2cv8e-MuiTypography-root-MuiBreadcrumbs-root .MuiBreadcrumbs-separator {
    margin-left: 16px;
    margin-right: 16px;
}

.css-1wuw8dw-MuiBreadcrumbs-separator {
    display: flex;
    user-select: none;
    margin-left: 8px;
    margin-right: 8px;
}

.seperator_dot {
    width: 4px;
    height: 4px;
    border-radius: 50%;
    background-color: rgb(145, 158, 171);
}

.header_content_right {
    flex-shrink: 0;
}

.blog_search_block {
    margin-bottom: 30px;
    display: flex;
    align-items: center;
}

.blogs_container {
    margin-top: 1%;
}

.css-4pdmu4-MuiBreadcrumbs-ol li:not(:last-child) {
    font-weight: 550;
}

.create_new_block_container_root {
    background-color: rgb(255, 255, 255);
    color: rgb(33, 43, 54);
    transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    overflow: hidden;
    box-shadow: rgb(145 158 171 / 24%) 0px 0px 2px 0px, rgb(145 158 171 / 24%) 0px 16px 32px -4px;
    border-radius: 16px;
    position: relative;
    z-index: 0;
    padding: 3%;
}

.new_blog_content {
    margin-top: 3%;
    text-align: left;
}

.new_blog_content_h6 {
    margin: 0px 0px 8px;
    font-family: "Be Vietnam", sans-serif;
    font-weight: 600;
    font-size: 0.875rem;
    line-height: 1.57143;
    color: rgb(99, 115, 129);
}

.content_conainer {
    border: solid 1px rgba(145, 158, 171, 0.32);
    border-radius: 8px;
}

.vertical_seperator {
    height: 20px;
}

.blog_cover_root {
    text-align: left;
    margin-bottom: 2%;
}

.blog_cover {
    border: 1px dashed rgba(145, 158, 171, 0.32);
    display: flex;
    outline: none;
    padding: 35px 0px;
    overflow: hidden;
    position: relative;
    text-align: center;
    transition: padding 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    align-items: center;
    border-radius: 8px;
    flex-direction: column;
    justify-content: center;
    background-color: #F4F6F8;
    flex-direction: row;
}

.upload_img_src {
    height: 130px;
    display: block;
    max-width: 100%;
    cursor: pointer;
}

.blog_cover_text h5 {
    margin: 0px 0px 8px;
    font-family: "Be Vietnam", sans-serif;
    font-weight: 600;
    font-size: 1.125rem;
    line-height: 1.5;
    text-align: left;
    margin-left: 1%;
}

.blog_cover_text p {
    margin: 0px;
    font-family: "Be Vietnam", sans-serif;
    font-weight: 500;
    font-size: 0.875rem;
    line-height: 1.57143;
    color: rgb(99, 115, 129);
    text-align: left;
    margin-left: 1%;
}

.button_footer {
    display: flex;
    justify-content: flex-end;
    margin-top: 2%;
}

.ql-editor {
    box-sizing: border-box;
    line-height: 1.42;
    height: 100%;
    outline: none;
    overflow-y: auto;
    padding: 12px 15px;
    tab-size: 4;
    -moz-tab-size: 4;
    text-align: left;
    white-space: pre-wrap;
    word-wrap: break-word;
    min-height: 200px;
}

.img_remover {
    margin-left: 15px;
    cursor: pointer;
}

.pagination_div {
    display: flex;
    justify-content: flex-end;
}

.blog_full_preview_root {
    background-color: rgb(255, 255, 255);
    color: rgb(33, 43, 54);
    transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    overflow: hidden;
    box-shadow: rgb(145 158 171 / 24%) 0px 0px 2px 0px, rgb(145 158 171 / 24%) 0px 16px 32px -4px;
    border-radius: 16px;
    position: relative;
    z-index: 0;
}

.full_preview_top {
    height: 350px;
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.preview_top_img {
    object-fit: cover;
    transition: filter 400ms, -webkit-filter 400ms;
    top: 0px;
    z-index: 8;
    width: 100%;
    height: 100%;
    position: absolute;
}

.preview_top_footer {
    width: 100%;
    bottom: 0;
    display: flex;
    z-index: 10;
    position: absolute;
    align-items: flex-end;
    padding-left: 24px;
    padding-right: 16px;
    padding-bottom: 24px;
    justify-content: space-between;
}

.preview_author {
    display: flex;
    align-items: center;
    padding: 10px;
    background: #ffffff;
    clip-path: polygon(100% 0%, 85% 49%, 100% 100%, 0 100%, 0 0);
    min-width: 300px;
}

.preview_author_avatar {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    font-family: "Be Vietnam", sans-serif;
    font-size: 1.25rem;
    line-height: 1;
    border-radius: 50%;
    overflow: hidden;
    user-select: none;
    width: 48px;
    height: 48px;
}

.preview_author_details {
    margin-left: 16px;
}

.preview_author_details h6 {
    margin: 0px;
    font-family: "Be Vietnam", sans-serif;
    font-weight: 600;
    font-size: 0.9rem;
    line-height: 1.5;
}

.preview_author_details p {
    margin: 0px;
    font-family: "Be Vietnam", sans-serif;
    font-weight: 550;
    font-size: 0.75rem;
    line-height: 1.57143;
    color: rgb(145, 158, 171);
}

.full_preview_main {
    padding: 2%;
}

.blog_preview_top_title {
    font-family: "Be Vietnam", sans-serif;
    font-weight: 600;
    font-size: 1.5rem;
    line-height: 1.33333;
}

.full_preview_main h6 {
    margin: 0px 0px 40px;
    font-family: "Be Vietnam", sans-serif;
    font-size: 0.8rem;
    line-height: 1.55556;
    color: rgb(113, 114, 116);
}

.blog_content {
    margin-top: 2%;
}

.full_preview_likes {
    margin-top: 2px;
    margin-bottom: 20px;
    padding: 24px 0px;
    padding: 2%;
}

.full_preview_likes .like_container {
    display: flex;
    align-items: center;
    margin-top: 24px;
}

.like_container p {
    margin-right: 15px;
}

.full_preview_comments {
    padding: 2%;
}

.preview_comment_head {
    display: flex;
    margin-bottom: 16px;
    margin-top: 2%;
}

.preview_comment_head h4 {
    margin: 0px;
    font-family: "Be Vietnam", sans-serif;
    font-weight: 600;
    font-size: 1.25rem;
    line-height: 1.5;
}

.preview_comment_head h6 {
    margin: 0px;
    font-family: "Be Vietnam", sans-serif;
    font-weight: 600;
    font-size: 0.875rem;
    line-height: 1.57143;
    color: rgb(145, 158, 171);
}

.preview_comment_card {
    align-items: flex-start;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    text-decoration: none;
    width: 100%;
    box-sizing: border-box;
    text-align: left;
    padding: 10px 16px;
    background-color: rgb(255, 255, 255);
    color: rgb(33, 43, 54);
    transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    overflow: hidden;
    box-shadow: rgb(145 158 171 / 24%) 0px 0px 2px 0px, rgb(145 158 171 / 24%) 0px 16px 32px -4px;
    border-radius: 16px;
    position: relative;
    z-index: 0;
}

.comment_details {
    flex: 1 1 auto;
    min-width: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 10px;
}

.comment_details_span {
    margin: 0px;
    font-family: "Be Vietnam", sans-serif;
    font-weight: 600;
    line-height: 1.5;
    display: block;
    color: rgb(145, 158, 171);
    font-size: 0.8rem;
}

.comment_details_p {
    margin: 0px;
    font-family: "Be Vietnam", sans-serif;
    font-weight: 500;
    line-height: 1.57143;
}

.comment_details_p .comment_date {
    margin: 5px 0px 1px;
    font-family: "Be Vietnam", sans-serif;
    font-weight: 500;
    font-size: 0.75rem;
    line-height: 1.5;
    color: rgb(145, 158, 171);
    display: block;
}

.comment_text {
    margin: 0px;
    font-family: "Be Vietnam", sans-serif;
    font-weight: 550;
    font-size: 1rem;
}

.reply_span {
    cursor: pointer;
    text-transform: uppercase;
    font-size: 0.9rem;
    font-weight: 700;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    background-color: transparent;
    user-select: none;
    vertical-align: middle;
    appearance: none;
    font-family: "Be Vietnam", sans-serif;
    line-height: 1.71429;
    min-width: 64px;
    padding: 4px 5px;
    border-radius: 8px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, border-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    color: blue;
}

.reply_con_root {
    display: flex;
    flex-direction: column;
}

.reply_con_btns {
    align-items: center;
    justify-content: flex-end;
    display: flex;
    margin-top: 5px;
}