.countup_root {
    display: flex;
    flex-direction: row;
}

.counter_block {
    display: flex;
    flex-direction: column;
}

.count_img_src {
    width: 100px;
    height: 100px;
}

.counter_span {
    font-size: 50px;
    color: white;
}

.counter_tilte  {
    font-weight: bold;
    color: white;
}