.signUp_root {
    height: 100vh,
}

.signUp_image {
    background-image: url(../../assets/images/signUp3.jpg);
    background-repeat: no-repeat;
    background-position: center;
    min-height: 100vh;
    background-size: cover;
}

.signUp_from_title {
    font-size: 4vh;
    font-weight: bold;
    margin-top: 5%;
}

.signUp_paper {
    display: 'flex';
    flex-direction: 'column';
    align-items: 'center';
    justify-content: center;
}

.signUp_card {
    padding: 5%;
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 2%;
}

.already_member {
    font-size: large;
}

.signIn {
    margin-top: 5%;
}

.terms_condition_root {
    margin-top: 4%;
}

.terms_condition {
   font-size: larger;
   margin-right: 1ch;
}

.submit_btn {
    margin-top: 5%;
}

.home_btn {
    margin-top: 2%;
}