.sign_up_root {
    display: flex;
    height: 100vh;
}

.sign_up_left {
    background-image: url('../../assets/images/landing page/theme.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.sign_up_right {
    padding: 2%;
    align-items: center;
    justify-content: center;
    padding-top: 7%;
}

.form__root {
    padding-inline: 2%;
    text-align: left;
}

.signUp_from_title {
    font-size: 4vh;
    font-weight: bold;
    margin-top: 5%;
}

.signUp_paper {
    display: 'flex';
    flex-direction: 'column';
    align-items: 'center';
    justify-content: center;
}

.signUp_paper-mobile {
    display: 'flex';
    flex-direction: 'column';
    width: 90%;
    height: 95%;
    margin-top: 5%;
    margin-left: 5%;
    align-items: center;
    justify-content: center;
}

.signUp_card {
    padding: 5%;
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 2%;
}

.already_member {
    font-size: 1rem;
}

.signIn {
    margin-top: 5%;
}

.terms_condition_root {
    margin-top: 4%;
}

.terms_condition {
   font-size: 0.9rem;
   margin-right: 1ch;
}

.terms_cond {
    font-size: 0.8rem;
}

.submit_btn {
    margin-top: 5%;
}


.form_alt_root {
    width: 100%;
    margin-left: auto;
    box-sizing: border-box;
    margin-right: auto;
    display: block;
    padding-left: 16px;
    padding-right: 16px;
}

.social_signup_block {
    margin-top: 5%;
    margin-bottom: 8%;
}

.social_signup_blocks {
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    width: calc(100% + 16px);
    margin-top: 6px;
    margin-left: -16px;
}

.social_signup_item {
    box-sizing: border-box;
    margin: 0px;
    flex-basis: 0px;
    flex-grow: 1;
    max-width: 100%;
    padding-top: 16px;
    padding-left: 16px;
}

.social_signup_item_card {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    position: relative;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    background-color: transparent;
    outline: 0px;
    margin: 0px;
    cursor: pointer;
    user-select: none;
    vertical-align: middle;
    appearance: none;
    text-decoration: none;
    font-family: "Be Vietnam", sans-serif;
    font-weight: 700;
    font-size: 0.9375rem;
    line-height: 1.71429;
    text-transform: capitalize;
    min-width: 64px;
    padding: 10px 21px;
    border-radius: 8px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, border-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    color: inherit;
    width: 100%;
    border: 1px solid rgba(145, 158, 171, 0.32);
    height: 48px;
}

.divider {
    margin: 24px 0px;
    flex-shrink: 0;
    display: flex;
    white-space: nowrap;
    text-align: center;
    border: 0px;
}

.divider::before {
    position: relative;
    width: 100%;
    border-top: thin solid rgba(145, 158, 171, 0.24);
    top: 50%;
    content: "";
    transform: translateY(50%);
}

.divider::after {
    position: relative;
    width: 100%;
    border-top: thin solid rgba(145, 158, 171, 0.24);
    top: 50%;
    content: "";
    transform: translateY(50%);
}

.divider_span {
    display: inline-block;
    padding-left: 9.6px;
    padding-right: 9.6px;
    font-size: large;
}

.error {
    color: red;
    align-self: flex-start;
}

.loading_div {
    align-items: center;
    justify-content: center;
    width: 100%;
    display: flex;
}

.form__top {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}